{% extends 'base.html' %}

{% block content %}
<h1>Postar Pet</h1>
<form method="POST" enctype="multipart/form-data">
  <input name="nome" placeholder="Nome do pet" required />
  <input name="tipo" placeholder="Tipo (cachorro/gato)" />
  <input name="idade" placeholder="Idade" />
  <textarea name="descricao" placeholder="Descrição"></textarea>

  <select name="status">
    <option value="adocao">Para adoção</option>
    <option value="perdido">Perdido</option>
    <option value="encontrado">Encontrado</option>
  </select>

  <input name="contato" placeholder="Telefone ou e-mail" required />

  <label>Foto</label>
  <input type="file" name="imagem" accept="image/*" />

  <button type="submit">Criar</button>
</form>

{% endblock %}
